body{
    background-color: #f5f5f5;
    font-family: cursive;
}
h1{
    color:rgb(55, 0, 128);
    text-align: center;
}
p{
    color:#080708;
}
img{
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 3);
    display: block;
    margin: 20px auto;
}
.perfil{
    width: 280px;
    height: 200px;
    object-fit: cover;

    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 0 10px 15px rgba(0,0,0,4);
    display: block;
    margin: 30px auto;

    transition:transform 0.4s ease, box-shadow 0.4s ease;
}
.perfil:hover{
    transform: scale(1.1) rotate(3deg);
    box-shadow: 0 15 px 35px rgba(0, 0, 0, 6);
}
@keyframes aparecer{
from {
    opacity:0;
    transform:scale(0.7);
}
to {
    opacity: 1;
    transform: scale(1);
    }
}
.perfil {
    animation: aparecer o.8s ease-out;
}
.centrado{
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
    line-height: 1.6;
}
.tarjeta{
    background-color: white;
    width: 320px;
    padding: 25px;
    margin: 40px auto;

    border-radius: 20px;
    box-shadow:  0 12px 30px rgba(0,0,0,0,3);

    text-align: center;

    animation: aparecer 3s ease;
}